---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import BlogPost from "../layouts/BlogPost.astro";

const pageTitle = "My blog";
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true}))
---

<Layout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {allPosts.map((post: any) => <BlogPost url={post.url} title={post.frontmatter.title}></BlogPost>)}
  </ul>
</Layout>
